<div class="container">
  <div class="col-lg-12">
    <div>
      <h2>Issues List</h2>
      <div class="alert alert-warning" ng-show="error">{{error}}</div>

      <h3>
        Page {{getPage()}} of {{pages.length}}
      </h3>

      <nav>
        <ul class="pager">
          <li class="previous" ng-class="{'disabled':getPage() == 0}">
            <a ng-click="prevPage()">
              Previous
            </a>
          </li>
          <li class="next" ng-class="{'disabled':getPage() == pages.length - 1}">
            <a ng-click="nextPage()">
              Next
            </a>
          </li>
        </ul>
      </nav>
      <table class="table">
        <thead>
          <tr>
            <th>
              number
            </th>
            <th>
              title
            </th>
            <th>
              comments
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="issue in issues track by issue.id">
            <td>
              {{issue.number}}
            </td>
            <td>
              {{issue.title}}
            </td>
            <td>
              {{issue.comments}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>