<div class="container">
  <div class="col-lg-12">
    <div>
      <h2>Issues List</h2>
      <form class="form-inline">
        <div class="form-group">
          <label for="owner">
            Repository Owner
            <input name="owner"
                   class="form-control"
                   ng-model="locationSearchGetterSetter('owner')"
                   type="text"
                   ng-model-options="{debounce: 300, getterSetter:true}"
                   placeholder="angular"> /
          </label>
        </div>
        <div class="form-group">
          <label for="repository">
            Repository Name
            <input name="repository"
                   class="form-control"
                   ng-model="locationSearchGetterSetter('repository')"
                   type="text"
                   ng-model-options="{debounce: 300, getterSetter:true}"
                   placeholder="angular.js">
          </label>
        </div>
      </form>
      <div class="alert alert-warning" ng-show="error">{{error}}</div>

      <h3>
        Page {{getPage()}} of {{pages.length}}
      </h3>

      <nav>
        <ul class="pager">
          <li class="previous"
              ng-disabled="getPage() == 1"
              ng-class="{'disabled':getPage() == 1}">
            <a ng-click="goToPrevPage()">
              Previous
            </a>
          </li>
          <li class="next"
              ng-disabled="getPage() >= pages.length"
              ng-class="{'disabled':getPage() >= pages.length}">
            <a ng-click="goToNextPage()">
              Next
            </a>
          </li>
        </ul>
      </nav>
      <table class="table">
        <thead>
          <tr>
            <th>
              number
            </th>
            <th>
              title
            </th>
            <th>
              comments
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="issue in issues track by issue.id">
            <td>
              {{issue.number}}
            </td>
            <td>
              {{issue.title}}
            </td>
            <td>
              {{issue.comments}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>