<div class="container">
  <div class="col-lg-12">
    <div>
      <form name="repoSelectorForm">
        <h2>Select Repository</h2>
        <span class="form-group">
          <label class="control-label" for="owner">Owner</label>
          <input ng-model="owner"
                 placeholder="angular"
                 required>
        </span>
        /
        <span class="form-group">
          <label class="control-label" for="repository">Repository</label>
          <input ng-model="repository"
                 placeholder="angular.js"
                 required>
        </span>

        <button ng-disabled="!repoSelectorForm.$valid" ng-click="updateOrgRepo(owner, repository)">Get Issues</button>
      </form>
    </div>
    <div>
      <h2>Issues List</h2>

      <div class="alert alert-info" ng-show="!issues.length">No issues loaded yet</div>
      <div class="alert alert-warning" ng-show="error">{{error}}</div>

      <h3>
        Page {{getPage()}} of {{pages.length}}
      </h3>

      <nav>
        <ul class="pager">
          <li class="previous"
              ng-disabled="getPage() == 1"
              ng-class="{'disabled':getPage() == 1}">
            <a ng-click="goToPrevPage()">
              Previous
            </a>
          </li>
          <li class="next"
              ng-disabled="getPage() >= pages.length"
              ng-class="{'disabled':getPage() >= pages.length}">
            <a ng-click="goToNextPage()">
              Next
            </a>
          </li>
        </ul>
      </nav>
      <table class="table">
        <thead>
          <tr>
            <th>
              number
            </th>
            <th>
              title
            </th>
            <th>
              comments
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="issue in issues track by issue.id">
            <td>
              {{issue.number}}
            </td>
            <td>
              {{issue.title}}
            </td>
            <td>
              {{issue.comments}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>