<div>
  <h2>Issues List</h2>
  <label for="filterText">
    Filter Issues
    <input name="filterText" ng-model="filterText" placeholder="filter issues">
  </label>

  <ul>
    <li ng-repeat="issue in issues | filter:filterText | page:page:limit | limitTo:limit">
      {{issue.title}}
    </li>
  </ul>

  <nav>
    Page:
    <span ng-repeat="i in issues | filter:filterText | pages:limit track by $index">
      <button ng-disabled="$parent.page == $index" ng-click="$parent.page = $index">
        {{$index}}
      </button>
    </span>
  </nav>
</div>
